p, li {
	line-height: 25px;
	text-align: justify;
	text-justify: inter-word;
}

a:hover {
	text-decoration: none;
}

#pageContent {
	/* background-color: #8c8c8c; */
	margin: 40px auto;
	border: 2px solid #33ccff;
	border-radius: 45px;
	color: #33ccff;
	padding: 50px;
}

#pageContent ul li {
	margin-left: 55px;
	line-height: 25px;
	font-size: 1rem;
}

#direct-home {
	width: 125px;
	padding: 10px;
	margin: 80px auto;
	border: #33ccff solid 2px;
	border-radius: 15px;
}

#direct-home i{
	margin-right: 10px;
}

h1.main-header {
	color: #ffffff;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 50px;
	font-weight: 800;
	font-size: 55px;
}

h2 {
	color: #bbf6fa;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 15px;
}

.figure {
	border: #33ccff inset 2px;
	padding: 30px;
	display: block;
	margin: 30px auto 60px auto;
}

.figure img {
	width: 100%;
}

.figure span {
  display: block;
	margin: 10px 20px 0 0;
  text-align: right;
  font-style: italic;
  font-size: 16px;
}

hr {
  background-color: #ffffff;
}

.note {
		display: block;
		margin: 20px auto;
		padding: 15px 30px;
		width: 75%;
		color: #ffffff;
		background-color: #ffa526;
		font-size: 16px;
		border-radius: 15px;
}

.note-icon {
	margin-right: 15px;
}

.link-button {
		width: 60%;
		display: block;
		margin: 0 auto;
}
